h1{
    background-color: rgba(181, 174, 208, 1);
    font-size: 100px;
    color:#FFFFFF;
    font-family: 'Lucida Sans';
    text-align: center;
}


.one{
  position:relative;
  left:44vw;
}

.two{
  position:relative;
  left:41vw;
}
.main-nav{
  font-family: 'Lucida Sans';
  position: relative;
  text-align: center;
  left:-6vw;
  top:-3vw;
  color:black;
  font-size: 30px;
  white-space: nowrap;

}
a { text-decoration: none; }
a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}
h2{
    text-align: center;
}

body{
    background-color: rgb(247, 235, 255);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.mybutton {
  align-items: center;
  background-color: rgba(181, 174, 208, 1);
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.mybutton:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.mybutton:hover:after {
  transform: translate(0, 0);
}

.mybutton:active {
  background-color: rgba(181, 174, 208, 1);
  outline: 0;
}

.mybutton:hover {
  outline: 0;
}

nav {
  width: 200px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .mybutton {
    padding: 0 40px;
  }
}


