/*
body {
    background: rgb(180, 233, 253);
    padding-top: 5em;
    display: flex;
    justify-content: center;
  }
  
  
  .typewriter h2 {
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

h2{
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;

}
p {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 50px;
  left: 0;
  line-height: 200px;
  margin-top: -200px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
 }

 nav {
   width: 200px;
   margin: 0 auto;
 }
 */
 /*-- Base Styles --*/

 body {
  background-color: black;
  font-family: 'Times New Roman', serif;
  position:absolute;
  top:350px;
  text-align: center;
}

.glow {
  font-size: 150px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px hsl(24, 94%, 48%), 0 0 40px hsl(24, 94%, 48%)hsl(24, 94%, 48%), 0 0 50px hsl(24, 94%, 48%), 0 0 60px hsl(24, 94%, 48%), 0 0 70px hsl(24, 94%, 48%);
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ffb84d, 0 0 40px #ffb84d, 0 0 50px #ffb84d, 0 0 60px #ffb84d, 0 0 70px #ffb84d, 0 0 80px #ffb84d;
  }
}