
body{
  text-align: center;
  background-color: #346433;
}

.header-grow {
  animation: growth 3s;
  animation-fill-mode: backwards;
  font-size: 4rem;
  color: #EBC317;
}
@keyframes growth {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 4rem;
  }
}

h1 {
  color:white;
  font-size:50px;
}


a {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 20px 30px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}

a:not(:disabled):hover,
a:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

a:disabled {
  filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.one {
  position: absolute;
  top:20px;
  left:20px;
}

.two {
  position: absolute;
  top:20px;
  right:20px;
}
